doctype html

html
head
title Blogging App
style 
   include ../public/css/style.css
body
  .header
   h2 Blogging
   ul.menu
     li: a(href="/") home 
     li: a(href="/login") Login

  block content
   